<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
                <img src="assets/images/logoSimbolo.png" style="width:70%">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link cursorStyle" (click)="openQueProponemos()">
                        <p class="textMenuBar">Nosotros</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursorStyle" (click)="openQuienesSomos()">
                        <p class="textMenuBar">Equipo</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursorStyle" (click)="openSanJose()">
                        <p class="textMenuBar">Registro</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursorStyle" href="#">
                        <i class="fab fa-facebook-square centericonBar"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursorStyle" href="#">
                        <i class="fab fa-instagram centericonBar"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursorStyle" href="#">
                        <i class="fab fa-youtube centericonBar"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
