<div class="bg-opacity">
    <div class="divImgWelcome">
        <img src="/sanJose/assets/images/etiquetaBienvenida.png" class="imgWelcome">
        <p class="txtWelcome">Reconoce tu barrio, interactúa y juega.</p>
        <div class="separatorContainer">
            <div class="separator red"></div>
            <div class="separator yellow"></div>
            <div class="separator green"></div>
            <div class="separator blue"></div>
        </div>
        <p class="btnContinue" (click)="goToHome()">[Continuar]</p>
    </div>
</div>