<div class="backgroundWhite">
  <div class="barTop topRed"></div>
  <div class="content">
    <div class="scrollable-content heightScroll">
      <h3 class="red" style="font-weight: bold;">Un foro para todos</h3>
      <p class="description red">
        Este es un canal de interacción comunicativa en el cual, si eres de San
        José o no, puedes participar dejando tus opiniones.
      </p>
      <div class="buttons">
        <select name="date" id="date" class="selectDate">
          <option value="day">Día</option>
          <option value="2days">Ver últimos 2 días</option>
          <option value="1Week">Ver última semana</option>
        </select>
        <button class="btnAddCommentary">
          <i class="fas fa-plus"></i> Añadir comentario
        </button>
      </div>
      <hr class="divider" />
      <div class="commentary" *ngFor="let commentary of commentaries">
        <img [src]="commentary.image" alt="user" class="imgUser" />
        <p style="margin: 0;">
          <span class="nameUser">{{ commentary.name }}</span
          ><span class="dateCommentary">{{ commentary.date }}</span>
          <span class="reply" (click)="replyCommentary(commentary.id)"
            >Responder</span
          >
        </p>
        <p class="textCommentary">{{ commentary.text }}</p>
      </div>
    </div>
  </div>
</div>
