<div id="divBackground" class="divBackground">
  <app-navbar
    (showQueProponemos)="showQueProponemos($event)"
    (showQuienesSomos)="showQuienesSomos($event)"
    (showSanJose)="showSanJose($event)"
  ></app-navbar>

  <div
    id="btnRojo"
    class="hidden-buttons"
    (mouseenter)="showConversemos()"
    (mouseleave)="defaultBackground()"
  >
    <div *ngIf="openConversemos">
      <div class="componentForo">
        <app-foro (mouseleave)="defaultBackground()"></app-foro>
      </div>
    </div>
  </div>

  <div
    id="btnNaranja"
    class="hidden-buttons"
    (mouseenter)="showQueProponemos()"
  >
    <div *ngIf="openPropondremos">
      <div class="componentPropondremos">
        <app-propose (mouseleave)="defaultBackground()"></app-propose>
      </div>
    </div>
  </div>

  <div
    id="btnAzul"
    class="hidden-buttons"
    (mouseenter)="showLoMejorDeMiBarrio()"
    (mouseleave)="defaultBackground()"
  >
    <div *ngIf="openBarrio">
      <div class="componentBarrio">
        <app-neighborhood (mouseleave)="defaultBackground()"></app-neighborhood>
      </div>
    </div>
  </div>

  <div
    id="btnVerde"
    class="hidden-buttons"
    (mouseenter)="showQuienesSomos()"
    (mouseleave)="defaultBackground()"
  >
    <div *ngIf="openNosotros">
      <div class="componentNosotros">
        <app-about-us (mouseleave)="defaultBackground()"></app-about-us>
      </div>
    </div>
  </div>

  <div
    id="btnRosa"
    class="hidden-buttons"
    (mouseenter)="showSanJose()"
    (mouseleave)="defaultBackground()"
  >
    <div *ngIf="openSanJose">
      <div class="componentSanJose">
        <app-san-jose (mouseleave)="defaultBackground()"></app-san-jose>
      </div>
    </div>
  </div>
</div>
