.divBackground {
  background: url("/sanJose/assets/images/general.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.menu {
  position: absolute;
}

.divMenu {
  text-align: right;
}

.hidden-buttons {
  position: absolute;
  padding: 0;
  border: none;
}

#btnRojo {
  width: 21vw;
  height: 20vh;
  top: 22vh;
  left: 26vw;
  background: none;
}

.componentForo {
  left: 21vw;
  width: 50vw;
  height: 65vh;
  top: 7vh;
  position: relative;
}

#btnNaranja {
  width: 11vw;
  height: 48vh;
  top: 50vh;
  background: none;
}

.componentPropondremos {
  left: 22vw;
  width: 70vw;
  height: 35vh;
  position: relative;
}

#btnAzul {
  width: 19vw;
  height: 29vh;
  top: 54vh;
  left: 46vw;
  background: none;
}

.componentBarrio {
  width: 35vw;
  height: 90vh;
  left: -41vw;
  position: relative;
}

#btnVerde {
  width: 17vw;
  height: 25vh;
  top: 53vh;
  left: 27vw;
  background: none;
}

.componentNosotros {
  left: 17vw;
  width: 50vw;
  top: -15vh;
  height: 55vh;
  position: relative;
}

#btnRosa {
  width: 17vw;
  height: 13vh;
  top: 52vh;
  right: 7.5vw;
  background: none;
}

.componentSanJose {
  left: -30vw;
  width: 30vw;
  top: -18vh;
  position: relative;
}